JWT_SECRET=dev-secret-key-change-in-prod
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=86400000
JWT_COOKIE_NAME=dawn-jwt
JWT_COOKIE_REFRESH_NAME=dawn-jwt-refresh
FRONTEND_URL=http://localhost
DB_USER=root
DB_PASS=123456
DB_DRIVER=com.mysql.cj.jdbc.Driver
MAIL_ENABLED=false
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=dummy
MAIL_PASSWORD=dummy
MAIL_FROM=noreply@test.local
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
UPLOAD_PATH=./uploads
VITE_BASE_API_URL=/api/v1
MYSQL_DATABASE=inventory_db
